# Directorios de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno virtual
venv/
.env
.envrc

# Configuración local de Odoo
odoo.conf

# Archivos de caché y logs
*.log
*.swp
*.swo
*.~*
*.bak
*.tmp

# Dependencias instaladas
/debian/
*.egg-info/
*.dist-info/
*.pip-wheel-cache/
*.eggs/

# Archivos de compilación
build/
dist/

# Archivos de setup de Odoo
odoo-bin
setup/
setup.cfg
setup.py

# Archivos específicos de Odoo
*.iml
*.idea/
*.vscode/
addons/*/__manifest__.pyc
addons/*/__pycache__/
addons/*/.mypy_cache/
addons/*/.pytest_cache/

# Archivos temporales
*.~undo-tree~
*.orig

# Archivos ignorables en Git
.DS_Store
Thumbs.db
