[options]

admin_passwd = $pbkdf2-sha512$600000$kjIGoPR.D8H4nxNiTMm5Nw$cT8d.bRPW526F.YkZ6DokYUmerlPK3NiMqTTBvVgCwkPzHIjuZMXQPQEPpUEz0Sz8LVMXGxZR0.h93Zm39r.qA
db_host = False
db_port = False
db_user = edurobrus
db_password = edurobrus
addons_path = addons,custom-addons
logfile = custom-addons/marketing_eyetracking/log/odoo.log